# Nginx
NGINX_HOST=mapos.seu-dominio.com.br
NGINX_PORT=8000

# PhpMyAdmin (profile: tools)
PHP_MY_ADMIN_PORT=8081

# MySQL
MYSQL_MAPOS_PORT=8989
MYSQL_MAPOS_VERSION=8.4
MYSQL_MAPOS_HOST=mysql
MYSQL_MAPOS_DATABASE=mapos
MYSQL_MAPOS_ROOT_USER=root
MYSQL_MAPOS_ROOT_PASSWORD=altere-esta-senha-root
MYSQL_MAPOS_USER=mapos
MYSQL_MAPOS_PASSWORD=altere-esta-senha-user
